:root {
    --bg-maya-blue: #70BCFF;
    --bg-medium-blue: #7954FF;
    --bg-persian-pink: #FC8ADC;
    --bg-congo-pink: #FF8B89;
    --bg-champagne: #FCECB2;

    --dt-light-background: var(--bg-persian-pink);
    --dt-dark-background: var(--bg-medium-blue);
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--dt-dark-background), var(--dt-light-background));
    --vp-code-font-size: 16px;
    --vp-custom-block-font-size: 16px;
    --vp-custom-block-code-font-size: 16px;
    --vp-custom-block-tip-text: #9A3412;
    --vp-custom-block-tip-bg: #FFF7ED;
    --vp-custom-block-tip-code-bg: #FFF7ED;
}
